<div class="col-md-12" >
  <!-- PAGE TITLE =============================================== -->
  <div class="page-header">
    <h2>Exercises</h2>
    <h4>Handle the exercises</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-success" ng-show="success">
          Successfully stored.
        </div>
        <div class="alert alert-danger" ng-show="error">
          There were errors saving the form:
          <ul ng-repeat="error in errors">
            <li>{{error}}</li>
          </ul>
        </div>
        <!-- NEW exercise FORM =============================================== -->
        <form style="margin-top:50px;" class="{{submitted ? 'submitted' : ''}}" name="exercise_form" novalidate ng-submit="submit()"> <!-- ng-submit will disable the default form action and use our function -->
          <!-- FORM TEXT ELEMENT -->
          <div class="form-group">
            <input type="text" class="form-control" required name="name" ng-focus ng-minlength=3 ng-model="exerciseData.name" placeholder="Exercise Name">
            <div class="has-error has-feedback" ng-show="exercise_form.name.$invalid && (submitted || (exercise_form.name.$dirty && !exercise_form.name.$focused))">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="alert alert-danger">
                <div ng-show="exercise_form.name.$error.required">
                  The name is required
                </div>
                <div ng-show="exercise_form.name.$error.minlength">
                  A length of 3 characters is minimum.
                </div>
              </div>
            </div>
          </div>
          <!-- exercise TEXT -->
          <div class="form-group">
            <textarea class="form-control" required ng-focus name="description" ng-model="exerciseData.description" placeholder="Description"></textarea>
            <div class="has-error has-feedback" ng-show="exercise_form.description.$invalid && (submitted || (exercise_form.description.$dirty && !exercise_form.description.$focused))">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="alert alert-danger">
                <div ng-show="exercise_form.description.$error.required">
                  The description is required
                </div>
              </div>
            </div>
          </div>
          <!-- SUBMIT BUTTON -->
          <div class="form-group text-right"> 
            <button type="submit" class="btn btn-primary btn-lg"><span ng-show="!exerciseData.id">Create</span><span ng-show="exerciseData.id">Update</span></button>
            <button type="button" ng-click="clear()" class="btn btn-lg">Cancel</button>
          </div>
          <input type="hidden" name="id" ng-model="exerciseData.id">
        </form>
      </div>
    <div class="col-md-6">
      <h4>List of Exercises</h4>
      <!-- LOADING ICON =============================================== -->
      <!-- show loading icon if the loading variable is set to true -->
      <p class="text-center" ng-show="loading"><span class="loading"></span></p>
      <!-- only show when loading = false -->
      <div ng-show="!loading">
        <div table-list objects="exercises" edit-fn="edit" destroy-fn="destroy"></div>
      </div>
      <!-- <div my-directive ng-model="workoutData.id"></div> -->
    </div>
  </div>
</div>