<div id="nav-wrapper">
  <ul id="nav" data-mr-collapse-nav data-mr-set-focus>
    <li><a href="/"> <i class="fa fa-dashboard"><span class="icon-bg bg-purple"></span></i><span>Dashboard</span></a></li>
    <li>
      <a href="/workout"> <i class="fa fa-anchor"><span class="icon-bg bg-dark-purple"></span></i><span>Workouts</span></a>
      <ul>
          <li><a href="/workout/option1"><i class="fa fa-caret-right"></i><span>Option 1</span></a></li>
          <li><a href="/workout/option2"><i class="fa fa-caret-right"></i><span>Option 2</span></a></li>
      </ul>
    </li>
    <li><a href="/exercise"> <i class="fa fa-rocket"><span class="icon-bg bg-blue"></span></i><span>Exercise</span></a></li>
    <li>
      <a href="/myprofile"> <i class="fa fa-user"><span class="icon-bg bg-teal"></span></i><span>My Profile</span></a>
    </li>
    <li>
      <a href="/table"> <i class="fa fa-asterisk"><span class="icon-bg bg-orange"></span></i><span>Table</span></a>
    </li>
  </ul>
</div>
<!-- <li class="" ng-cloak><a href="/login" ng-show="!authorized"><span >Login</span><a href="/logout" ng-show="authorized">Logout</a></li> -->